<div class="header">
    <div id="naziv" style="display: inline;">
        <img src="/assets/images/fifa2022.png" style="width: 7%; height: 7%; background-color: white;" (click)="goToHomePage()">
        <button class="btn" style="color: white; font-size: large;" (click)="goToTeams()"><b>TIMOVI</b></button>
        <button class="btn" style="color: white;"><b style="font-size: large;" (click)="goToGroups()">GRUPE</b></button>
        <button class="btn" style="color: white;"><b style="font-size: large;" (click)="goToMatches()">UTAKMICE</b></button>
    </div>
</div>
